.blogh{
  padding-top: 90px;
  padding-bottom: 30px;
}

.btnSaveh{
  height: 49px;
  background: #63BFAD;
}

.titleHome{
  font-weight: 700;
  font-size: 16px;
  color: #061020;
}

.subtitleHome{
  font-weight: 400;
  font-size: 14px;
  color: #061020;
}

.iconHome{
  color: #63BFAD;
}

.paraHome{
  font-weight: 400;
  font-size: 12px;
  color: #717171;
}

.btnHome{
  color: #63BFAD !important;
  border: var(--bs-btn-border-width) solid #63bfad !important;
}
