<app-nav-bar>

  <div class="container-fluid">

    <div class="blogh">

      <div class="row" style="margin-bottom:30px;">
        <div class="col-md-6">
         <div class="titleh">Overview</div>
        </div>
        <div class="col-md-6">
         <div align="right">
          <button mat-raised-button class="btnSaveh" [routerLink]="['/login']">CREATE A PROGRAM</button>
         </div>

       </div>
      </div><!--row-->

      <div class="row">
        <div class="col-md-7">

          <mat-card>
            <mat-card-content>
              <div class="row">

                <div class="col-md-4">
                  <img src="assets/home.jpeg" class="rounded mx-auto d-block" style="width: 160px;height: 144px;">
                </div><!--col-->

                <div class="col-md-8">

                  <p class="titleHome">Product Design Fundamentals</p>
                  <p class="subtitleHome"><i class="bi bi-circle-fill iconHome"></i> Open for enrollement <i class="bi bi-chevron-down"></i></p>
                  <p class="paraHome">This program is tailored for people that are just starting out as Product Designers and want to learn basics.</p>
                  <div>
                    <button type="button" class="btn btn-outline-success btnHome" style="margin-right:10px;">MANAGE PROGRAM</button>
                    <button type="button" class="btn btn-outline-success btnHome">MANAGE CONTENT</button>
                  </div>


                </div><!--col-->

              </div><!--row-->
            </mat-card-content>
          </mat-card>

        </div>
        <div class="col-md-5">

       </div>
      </div><!--row-->



    </div><!--blog-->



  </div><!--container-->


</app-nav-bar>
